.einsatzrss:before, .evw_extlink:after {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: top;
	margin-right: 5px;
	margin-right: 0.5rem;
}

.einsatzrss:before {
	content: "\f303";
}

.evw_extlink:after {
	content: "\f504";
    vertical-align: middle;
	margin-right: 0px;
	margin-right: 0rem;
	margin-left: 2px;
	margin-left: 0.2rem;
}