#einsatzverwaltung_contactinfo {
    background-color: #ddd;
    padding: 20px;
    margin: 10px;
    width: 180px;
    position: absolute;
    top: 30px;
    right: 30px;
}

#dashboard_right_now .einsatz-count a:before, #dashboard_right_now .einsatz-count span:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: top;
	margin-right: 5px;
	margin-right: 0.5rem;
}

#dashboard_right_now .einsatz-count a:before, #dashboard_right_now .einsatz-count span:before {
    content: "\f497";
}

.evw_error {
    color: red;
    font-weight: bold;
}

.evw_warning {
    color: orange;
    font-weight: bold;
}

.evw_success {
    color: green;
    font-weight: bold;
}

.evw_info {
    color: #0000D0;
    font-weight: bold;
}

.evw_match_fields td {
    padding: 5px;
}