<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    bootstrap="tests/unit/bootstrap.php"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutTodoAnnotatedTests="true"
    colors="true"
    forceCoversAnnotation="true"
    >
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
