#dashboard_right_now a.einsatz-count:before, #dashboard_right_now span.einsatz-count:before {
    content: "\f497";
}

.evw_error {
    color: red;
    font-weight: bold;
}

.evw_warning {
    color: orange;
    font-weight: bold;
}

.evw_success {
    color: green;
    font-weight: bold;
}

.evw_info {
    color: #0000D0;
    font-weight: bold;
}

.evw_match_fields td {
    padding: 5px;
}

#columns-available, #columns-enabled {
    width: 100%;
    border-spacing: 0;
    border-bottom: 2px solid #cccccc;
    padding: 15px 0;
}

#columns-available td, #columns-enabled td {
    padding: 0 20px;
    vertical-align: top;
}

#columns-available ul, #columns-enabled ul {
    height: 50px;
    margin: 5px;
    padding: 5px;
    display: block;
}

body.settings_page_einsatzvw-settings .columns ul li {
    float: left;
    cursor: move;
}

li.evw-column {
    border: 1px solid #bbb;
    border-radius: 3px;
    margin-right: 10px;
    padding: 5px;
    background: none no-repeat scroll center center #f8f8f8;
}

li.dropzone {
    border: 1px dashed #999;
    border-radius: 3px;
    background: #e3e3e3;
    margin-right: 10px;
    padding: 5px;
    height: 18px;
}

.evw-area-title {
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 15px;
}

.import-date-formats {
    display: inline-block;
    vertical-align: top;
}

.import-time-formats {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.aboutpage-icons {
    text-align: center;
    margin: 25px 0;
}

.aboutpage-icon {
    display: inline-block;
    padding: 10px;
}

.aboutpage-icon a {
    text-decoration: none;
}

.settings_page_einsatzvw-settings label > code {
    margin-left: 0.5em;
}

.widgets-holder-wrap .checkboxlist, .customize-control-widget_form .checkboxlist {
    border: 1px solid #ddd;
    background-color: #fdfdfd;
    padding: 8px;
    margin: 4px 0 0 0;
}

.widgets-holder-wrap .checkboxlist ul {
    margin-top: 0;
}

.form-wrap .fakelabel {
    display: block;
    padding: 2px 0;
}

.form-wrap .checkboxlabel {
    display: unset;
}

/* Hides the selector for the parent term when creating a term for the fahrzeug taxonomy, hierarchy will be removed */
body.edit-tags-php.post-type-einsatz.taxonomy-fahrzeug .form-wrap div.form-field.term-parent-wrap {
    display: none;
    visibility: hidden;
}

/* Media Selector preview collapses, but shows thumbnail size at max */
[id^="img-evw-mediasel-"] {
    max-width: 150px;
    max-height: 150px;
}
