.einsatzverwaltung-reportlist {
    width: 100%;
    border-collapse: collapse;
}

.einsatzverwaltung-reportlist th,
.einsatzverwaltung-reportlist td {
    padding: 3px 5px;
}

.einsatzverwaltung-reportlist .einsatz-header {
    background-color: #eee;
    border-bottom: 2px solid #ddd;
}

.einsatzverwaltung-reportlist .zebracorrection {
    visibility: hidden;
    display: none;
}

.einsatzverwaltung-reportlist .einsatz-title-month td {
    border: none;
    font-size: 1.3em;
    padding: 3px 8px;
    background: #ddd none repeat scroll 0 0;
}

@media (max-width: 767px) {
    .einsatzverwaltung-reportlist tr,
    .einsatzverwaltung-reportlist th,
    .einsatzverwaltung-reportlist td {
        display: block;
    }

    .einsatzverwaltung-reportlist tr {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .einsatzverwaltung-reportlist tr.einsatz-title-month {
        padding-top: 0;
        padding-bottom: 0;
    }

    .einsatzverwaltung-reportlist td {
        padding: 0 10px;
        border: none;
    }
    .einsatzverwaltung-reportlist .einsatz-header {
        display: none;
    }
    .einsatzverwaltung-reportlist td:before {
        font-weight: bold;
        margin-right: 5px;
        display: inline-block;
    }

    .einsatzverwaltung-reportlist td.einsatz-column-annotationImages,
    .einsatzverwaltung-reportlist td.einsatz-column-annotationSpecial {
        display: none;
    }
}

.widget_einsatzverwaltung_widget .annotation-icon-bar {
    float: right;
    margin-left: 10px;
}