.einsatzverwaltung-reportlist {
	width: 100%;
	border-collapse: collapse;
}
.einsatzverwaltung-reportlist th,
.einsatzverwaltung-reportlist td {
	padding: 3px 5px;
}
.einsatzverwaltung-reportlist thead {
	background: #eee;
	border-bottom: 3px solid #ddd;
}
.einsatzverwaltung-reportlist .einsatz-header {
	background: #eee;
	border-bottom: 2px solid #ddd;
}
.einsatzverwaltung-reportlist tr:nth-child(even) {
	background: #f0f0f0;
}

.einsatzverwaltung-reportlist .einsatz-title-month td {
	border: none;
	font-size: 1.3em;
    padding: 3px 8px;
	background: #ddd none repeat scroll 0 0;
}

@media (max-width: 767px) {
	.einsatzverwaltung-reportlist thead {
		display: none;
	}
	.einsatzverwaltung-reportlist tr,
	.einsatzverwaltung-reportlist th,
	.einsatzverwaltung-reportlist td {
		display: block;
	}

    .einsatzverwaltung-reportlist tr {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .einsatzverwaltung-reportlist tr.einsatz-title-month {
        padding-top: 0;
        padding-bottom: 0;
    }

	.einsatzverwaltung-reportlist td {
        padding: 0 10px;
		border: none;
	}
	.einsatzverwaltung-reportlist .einsatz-header {
		display: none;
	}
	.einsatzverwaltung-reportlist td:before {
		font-weight: bold;
		margin-right: 5px;
	}
	.einsatzverwaltung-reportlist td.einsatz-column-number:before {
		content: "Einsatznummer:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-date:before {
		content: "Datum:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-time:before {
		content: "Zeit:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-title:before {
		content: "Einsatzmeldung:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-location:before {
		content: "Einsatzort:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-incidentCommander:before {
		content: "Einsatzleiter:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-duration:before {
		content: "Einsatzdauer:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-vehicles:before {
		content: "Einsatzfahrzeuge:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-incidentType:before {
		content: "Einsatzart:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-workforce:before {
		content: "Mannschaftsstr&auml;ke:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-datetime:before {
		content: "Datum:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-alarmType:before {
		content: "Alarmierungsart:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-seqNum:before {
		content: "Lfd.-Nummer:";
	}
	.einsatzverwaltung-reportlist td.einsatz-column-additionalForces:before {
		content: "Weitere Kr&auml;te:";
	}

}